* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7493ff;
}

.container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    padding: 3rem;
    height: 70%;
    width: 50%;
    box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
    max-width: 35rem;
}

.content {
    display: contents;
}

#add-task-btn {
    background-color: #59ff8e;
    border: 0.1rem solid #75787938;
    border-radius: 0.5rem;
    padding: 0.8rem;
    cursor: pointer;
}

#add-task-btn:hover {
    transition: 0.3s ease;
    box-shadow: 0 0 0 2px #7493ff;
}

#add-task-btn:active {
    background-color: #7493ff;
    transition: 0.3s ease;
    box-shadow: 0 0 0 2px #7493ff;
}

h1 {
    text-transform: uppercase;
    font-family: Barlow, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding: 0.8rem;
}

input {
    width: 70%;
    border: 0.1rem solid #75787938;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 1rem;
    color: #757879c6;
}

input::placeholder {
    color: #757879c6;
    opacity: 1;
}

input:focus {
    border-color: #c0cefb;
    outline: none;
    box-shadow: 0 0 0 2px #c7d2fe;
}

.task-input {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 85%;
}

.check-mark {
    border: 0.2rem solid #7493ff;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul {
    padding: 0.5rem;
    margin: 2rem 0.5rem;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

li {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.2rem;
    padding: 1.3rem;
}

span {
    width: 40%;
}

.buttons {
    display: flex;
    gap: 1rem;
}