/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make html and body take full height */
html, body {
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

body {
    font-size: 40px;
}

/* Make container fill the viewport */
.container {
    padding: 3rem;
    border-radius: 3rem;
    height: 30rem;
    display: flex;
    align-items: center;
    background-color: blue;
    flex-direction: column;
    justify-content: center;
}

.taskPending {
    cursor: pointer;
    padding: 8x;
    transition: all 0.2s;
}

.taskCompleted {
    cursor: pointer;
    padding: 8x;
    transition: all 0.2s;
    text-decoration: line-through;
    color: red;
}

.delete-btn {
    margin-left: 15px;
}

.edit-btn {
    margin-left: 15px;
}